<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">
        <h1>Scrabble Score</h1>
        <p>Enter a word into the form and see what its score in scrabble would be.</p>
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
